* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #043818;
}

#container{
    height: 600px;
    width: 1020px;
    padding: 30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    background-color: #86AA90;
    border-radius: 4%;
}


#div{
    display:flex;
    flex-direction:row;
    gap:20px;
   
}

#divConverter{
    display:flex;
    flex-direction:column;
    gap:10px;
}

#iconCircle{
    display: flex;          
    flex-direction: row;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: rgb(52, 99, 52);

    align-items: center;   
    justify-content: center;

    align-self: center;
}

#iconCircle i{
    color: white;
    font-size: 18px;
    transform: rotate(90deg);
}


#moedasEmAlta{
    display:flex;
    flex-direction:row;
    gap:10px;
}

.moedasBox{
    width: 244px;
    height: 170px;

    background: #E3E3E3;

    display: flex;
    flex-direction: column;
    gap: 16px;

    box-sizing: border-box;
    padding: 25px;

    border-radius: 16px;
}

.top{
    width: 194px;
    height: 48px;

    display: inline-flex;
    gap: 70px;

    align-items: center;
}

.flag{
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
}

#upDown{
    width: 76px;
    height: 32px;

    background: rgba(16, 185, 129, 0.1);
    border-radius: 6px;
}

.bottom{
    width: 194px;
    height: 56px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.valores{
    width: 194px;
    height: 32px;

    border: none;

    font-size: 24px;
    color: black;
}

.moedas{
    width: 194px;
    height: 20px;

    border: none;

    font-size: 14px;
    color: black;
}

#grafico{
    width: 500px;
    height: 400px;
    margin-top: 5px;

    background: #E3E3E3;

    box-sizing: border-box;
    padding: 25px;

    border-radius: 16px;
}

#divValor{
    display: inline-flex;
    gap: 10px;
}

#btnConversao{
    width: 32px;
    height: 32px;

    background: #10B981;
    border: none;
    border-radius: 6px;

    cursor: pointer;
}

#valorBase{
    width: 150px;
    height: 32px;

    border: none;

    font-size: 24px;
    color: black;
}